@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  margin-left: -0.4rem;
}

.sideMenu {
  width: 300px;
  backdrop-filter: blur(50px);
  padding: 20px;
  position: fixed;
  top: 2.5rem;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  z-index: 5;
}

.sideMenu.hidden {
  transform: translateX(-100%);
}

.secondaryInfo {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 2rem auto;
}
:global(body) {
  background-image: url("/thunderstorm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}
:global(html) {
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}
.mainContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .secondaryInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .sideMenu {
    width: 75vw;
  }
  :global(body) {
    background-image: url("/thunderstorm-mobile4.webp");
  }
}
